In [67]:
import pandas as pd
import numpy as np

In [68]:
def perf_inc(value, reference):
    return ((value - reference) / reference) * 100

In [69]:
elapsed_4 = dict( zig_opt = 35.88,
                 zig_basic = 59.74,
                 DCCA_python = 447.67,
                 DCCA_RJAVA = 36.77*60,
                 zeb_python = 3_076.23,
                 DFA = 7.81*60**2
                )

In [70]:
elapsed_12 = dict( zig_opt = 120.55,
                 zig_basic = 213.08,
                 DCCA_python = 4_675.17,
                 DCCA_RJAVA = 8.05*60**2,
                 zeb_python = 3_761.40,
                 DFA = 85.91*60**2
                )

In [75]:
df = pd.DataFrame([elapsed_4, elapsed_12]).T.round(2)
df.columns = ['4_series', '12_series']
df

             4_series  12_series
zig_opt         35.88     120.55
zig_basic       59.74     213.08
DCCA_python    447.67    4675.17
DCCA_RJAVA    2206.20   28980.00
zeb_python    3076.23    3761.40
DFA          28116.00  309276.00

In [77]:
df.iloc[0,:]

4_series      35.88
12_series    120.55
Name: zig_opt, dtype: float64

In [ ]:
df_performance = perf_inc(df, df.iloc[0,:]).round(2)
df_performance

             4_series  12_series
zig_opt          0.00       0.00
zig_basic       66.50      76.76
DCCA_python   1147.69    3778.20
DCCA_RJAVA    6048.83   23939.82
zeb_python    8473.66    3020.20
DFA          78261.20  256454.13